<h1>Listing accounts</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Email</th>
    <th>Pic url</th>
    <th>Date of birth</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.user_name %></td>
    <td><%= account.email %></td>
    <td><%= account.pic_url %></td>
    <td><%= account.date_of_birth %></td>
    <td><%= account.password %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
