<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @account.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>

<p>
  <b>Pic url:</b>
  <%= @account.pic_url %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @account.date_of_birth %>
</p>

<p>
  <b>Password:</b>
  <%= @account.password %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
